/* CONTENTS
---------------------
/* NAVIGATION
/* STAFF NAVIGATION
/* INDEX
/* GTS PAGE
/* GTS PANEL
/* STATIONS PAGE

---------------------
*/


.off-canvas-wrap{
    min-height: 100%;
    position: relative;

}
.inner-wrap
{
    min-height: 800px;
    position: relative;
}
.exit-off-canvas{
    border-radius: 7px 0 0 7px;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Lato', sans-serif;
}
li{
    list-style: none;
}
.page-content{
    padding-left: 5px;
    padding-right: 5px;
}
.page-title{
    text-transform: uppercase;
    font-weight: 500;
}
.form-buttons{
    margin-top: 10px;
    background-color: #9d9d9d;
}
.delete-button{
    background-color: red;
}
.searchOutcome{
    height: 70px;
    background: #fff;
    margin-top: -16px;
    margin-left: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-bottom: 1px solid #c0c0c0;
    box-shadow: 0px 1px 1px #000;
}
.searchImg{
    height: 50px;
    width: 45px;
}
.userPagePic{
    border: 5px solid #fff;
}
.displayName{
    color: #17A9CC;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}
.soon{
    color: #000;
}
.gamerProfilePic{
    border: 5px solid #fff;
    margin: 10px 0 10px 10px;
}
/* NAVIGATION **************
*****************************************/

.top_bar{
    background: #999;
    height: 45px;
}
.top_bar ul{
    margin-left: 0!important;
}
.desktop-logo{
    height: 45px;
}
.main-nav{
    width: 155px!important;
    text-align: center;
}
.title-area{
    list-style: none;
}
.top-bar-section{
    margin-top: -65px;
}
.top-bar-section ul li{
    list-style: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.desktop-logo{
    height: 45px;
}
nav.tab-bar div .mobile-logo{
    background: url(../img/logo.png) no-repeat center center;
    width: 45px;
    height: 45px;
    background-size: contain;
    margin: 0 auto;
    margin-top: -47px;
    display: block;
}
.mobile-bar{
    font-size: 1.3em;
    color: #000;
    margin-left: -5px;
}
.right-nav{
    margin-top: -45px;
    margin-right: -5px;
}
.mobile-input{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.mobile-pic{
    border: 5px solid #fff;
    margin-top: 10px;
}
.gamerName{
    padding-left: 10px;
}
/* STAFF NAVIGATION **************
*****************************************/
.page-container .top-bar{
    height: 10px;
    background-color: #17A9CC;
}
/* INDEX **************
*****************************************/
.top-content{
    background: url(../img/header.jpg) no-repeat;
    height: 550px;
    border-bottom: 4px solid #17A9CC;
}
.intro{
    margin-top: 80px;
}
.intro h1{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: -1px 1px 1px #000;
}
.intro p{
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: -1px 1px 1px #000;
}
.features i{
    margin-top: 50px;
    font-size: 7em;
    color: #17A9CC;
    text-shadow: -2px 2px 1px #999;
}
.features p{
    margin-bottom: 75px;
}
footer{
    position: relative;
	bottom: 0;
    margin-top: -45px;
    z-index: 100;
    background-color: #555;
    height: 45px;
    width: 100%;
}
footer i{
    font-size: 2em;
    color: #fff;
    padding-left: 5px;
    margin-top: 7px;
}
.footer-logo{
    opacity: 0.5;
    padding-right: 5px;
}
.div-footer-logo .footer-logo img{
    height: 45px;
    width: 45px;
}
.div-footer-logo p{
    display: inline;
}
.fa-facebook-square{
    color: #3B5998;
    text-shadow: -1px 0px 1px #000;
}
.fa-twitter-square{
    color: #3299BB;
    text-shadow: -1px 0px 1px #000;
}
.fa-google-plus-square{
    color: #D34836;
    text-shadow: -1px 0px 1px #000;
}
/* GTS PAGE **************
*****************************************/
.gts{
    padding-left: 5px;
}
.page-container{
    background-color: #f2f2f2;
    height: 100%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 2px #000;
}
.page-nav{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.page-nav button{
    margin-top: 5px;
    margin-bottom: 10px;
    border-right: 1px solid #17A9CC;
}
.gts-hr {
    padding-right: 5px;
    padding-left: 5px;
}
.gts-box-art{
    height: 45px;
}
.button-form{
    margin-top: 30px;
}
label{
    margin-top: 10px;
}
.queue-system h6{
    margin-top: -10px;
}
.check-in{
    margin-right: 10px;
    font-weight: bold;
}
.queue-remove{
    font-size: 1.5em;
    color: red;
    margin-top: 1px;
}
.queue-name{
    font-weight: bold;
    text-transform: uppercase;
}
.queue-list{
    margin-top: 12px;
}

/* GTS PANEL **************
*****************************************/
.gts-panels{
    height: 60px!important;
    border-color: #17A9CC;
    background-image: -o-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%);
    background-image: -moz-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%);
    background-image: -webkit-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%);
    background-image: -ms-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%);
    background-image: linear-gradient(to bottom, #17A9CC 0%, #0085A6 100%);
    margin: 10px 0 10px 10px;
    padding: 0;
    border: 2px solid #17A9CC;
}
.empty-panels{
    height: 60px!important;
    border-color: #17A9CC;
    background-image: -o-linear-gradient(bottom, #2c8f10 0%, #267710 100%);
    background-image: -moz-linear-gradient(bottom, #2c8f10 0%, #267710 100%);
    background-image: -webkit-linear-gradient(bottom, #2c8f10 0%, #267710 100%);
    background-image: -ms-linear-gradient(bottom, #2c8f10 0%, #267710 100%);
    background-image: linear-gradient(to bottom, #2c8f10 0%, #267710 100%);
    margin: 10px 0 10px 10px;
    padding: 0;
    border: 2px solid #2c8f10;
}
.station-number h2{
    color: #fff;
    padding-top: 6px;
    opacity: 0.7;
}
.station-time-remaining h2,h5{
    color: #fff;
    display: inline;
}
.station-time-remaining{
    margin-left: 65px;
    padding-top: 9px;
}
.station-game {
	float: right;
	width: 41px;
	margin: 5px;
	position: relative;
}
.station-game img {
	width: 100%;
    border: 1px solid #17A9CC;
    opacity:0.7;
}
.station-game a i {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 10px;
}
/* Empty Stations */
.gts-panel .panel h3 {
    margin: 15px 0 0 30px;
}
.gamer-cancel a{
    color: red;
    opacity: 0.6;
    margin-top: 4px;
    margin-right: 5px;
}
/* STATIONS PAGE **************
*****************************************/
.station-list .station{
    background-color: #b4b4b4;
}

.station-list .large-2{
    /*width: 15.65%;*/

}
.stations-number{
    display: inline;
}
.stations-number i{
    font-size: 2.7em;
}

.custom-alert {
    width:100%;
    height:50px;
    float:left;
    margin-bottom:17px;
    border-radius:20px;
    background: #FFEC8B;
    opacity:0.9;
}

.custom-alert * {
    float:right;
}

.custom-alert i {
    overflow:hidden;
    position:absolute;
    left:0;
    font-size: 40px;
    margin:5px 0 5px 10px;
}

.custom-alert h1 {
    float:left;
    font-size: 26px;
    margin:7px 0 5px 50px;
}

.custom-alert p {
    float:left;
    margin: 12px 0 5px 70px;
    font-size: 18px;
}

#close-alert {
    color:black;
    position:absolute;
    right:0;
    margin:12px;
    font-size: 20px;
}

#alert-container {
    position:absolute;
    top: 0px;
    right: 5px;
    width:53%;
}
