/* CONTENTS
---------------------
/* NAVIGATION
/* STAFF NAVIGATION
/* INDEX
/* GTS PAGE
/* GTS PANEL

---------------------
*/


.off-canvas-wrap, .inner-wrap{
    height:100%!important;
}
.exit-off-canvas{
    border-radius: 7px 0 0 7px;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Lato', sans-serif;
}

/* NAVIGATION **************
*****************************************/

.top_bar{
    background: #999;
    height: 45px;
}
.desktop-logo{
    height: 45px;
}
.main-nav{
    width: 155px!important;
    text-align: center;
}
.title-area{
    list-style: none;
}
.top-bar-section{
    margin-top: -65px;
}
.top-bar-section ul li{
    list-style: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.desktop-logo{
    height: 45px;
    margin-left: 5px;
}
nav.tab-bar div .mobile-logo{
    background: url(../img/logo.png) no-repeat center center;
    width: 45px;
    height: 45px;
    background-size: contain;
    margin: 0 auto;
    margin-top: -45px;
    display: block;
}
.mobile-bar{
    font-size: 1.3em;
    color: #000;
    margin-left: -5px;
}
.right-nav{
    margin-top: -45px;
    margin-right: -5px;
}
/* STAFF NAVIGATION **************
*****************************************/
.gts-content .top-bar{
    margin-top: 50px;
}
/* INDEX **************
*****************************************/
.top-content{
    background: url(../img/header.jpg) no-repeat;
    height: 550px;
    border-bottom: 4px solid #17A9CC;
}
.intro{
    margin-top: 80px;
}
.intro h1{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: -1px 1px 1px #000;
}
.intro p{
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: -1px 1px 1px #000;
}
.features i{
    margin-top: 50px;
    font-size: 7em;
    color: #17A9CC;
    text-shadow: -2px 2px 1px #999;
}
.features p{
    margin-bottom: 75px;
}
footer{
	position: fixed;
	bottom: 0;
    background-color: #555;
    height: 45px;
    width: 100%;
}
footer i{
    font-size: 2em;
    color: #fff;
    padding-left: 5px;
    margin-top: 7px;
}
.footer-logo{
    opacity: 0.5;
    padding-right: 5px;
}
.div-footer-logo .footer-logo img{
    height: 45px;
    width: 45px;
}
.div-footer-logo p{
    display: inline;
}
.fa-facebook-square{
    color: #3B5998;
    text-shadow: -1px 0px 1px #000;
}
.fa-twitter-square{
    color: #3299BB;
    text-shadow: -1px 0px 1px #000;
}
.fa-google-plus-square{
    color: #D34836;
    text-shadow: -1px 0px 1px #000;
}
/* GTS PAGE **************
*****************************************/
.gts{
    padding-left: 5px;
}
.gts-content{
    background-color: #f2f2f2;
    height: 700px;
    box-shadow: 0px 5px 10px #000;
}
.gts-nav{
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.gts-nav button{
    margin-top: 5px;
    margin-bottom: 10px;
    border-right: 1px solid #17A9CC;
}
.gts-hr {
    padding-right: 5px;
    padding-left: 5px;
}
.gts-box-art{
    height: 45px;
}

/* GTS PANEL **************
*****************************************/
.panel{
    height: 60px!important;
    margin-top: 10px;
    border-color: #17A9CC;
    background-image: -o-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -moz-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -webkit-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -ms-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: linear-gradient(to bottom, #17A9CC 0%, #0085A6 100%)!important;
}
.panel-button{
    height: 60px!important;
    width: 25px;
    margin-left: -15px;
    margin-top: 10px;
    background-image: -o-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -moz-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -webkit-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: -ms-linear-gradient(bottom, #17A9CC 0%, #0085A6 100%)!important;
    background-image: linear-gradient(to bottom, #17A9CC 0%, #0085A6 100%)!important;
}
.play-panel i{
    margin-top: 20px!important;
    font-size: 1.5em;
    color: #fff;
}
.station-number h2{
    margin-top: -4px;
    margin-left: -15px;
    color: #fff;
    opacity: 0.7;
}
.station-time-remaining h2,h5{
    color: #fff;
    display: inline;
}
.station-time-remaining{
    margin-top: -10px;
    margin-left: 15px;
}
.station-game img{
    height: 50px;
    margin-top: -15px;
    border: 1px solid #17A9CC;
}
.station-game a i{
    color: #fff;
    position: relative;
    margin-left: -30px;
    maring-top: -30px;
    text-shadow: -1px 1px 2px #000;
    opacity: 0.8;
}
.station-info i{

}
.exit-off-canvas{
    border-radius: 7px 0 0 7px;
}

