
<div class="top-content">
    <div class="row">
        <div class="intro text-center">
            <h1>
                This is the gamer page.
            </h1>
            <p>
                Your user type is a gamer!
            </p>
        </div>
    </div>
</div><!-- end .top-content -->
<!-- Site Features -->
<div class="site-features">
    <div class="row">
        <div class="features small-12 large-4 columns text-center">
            <h1>
                Play!
            </h1>
            <p>
                Come play the latest top games on the next generation consoles. We have the Playstation 4 and the Xbox One.
            </p>
        </div>
        <div class="features small-12 large-4 columns text-center">
            <h1>
                Competition
            </h1>
            <p>
                WIN will be hosting tournaments every week and seasoned leagues for a chance to win prizes like gametime and cash!
            </p>
        </div>
        <div class="features small-12 large-4 columns text-center">
            <h1>
                Don't Play Alone
            </h1>
            <p>
                Bring up to 3 of your friends and play together, or play online with every game system being connected online!
            </p>
        </div>
    </div>
</div>
