
<!-- This is the Content below Navigation -->
<div class="row">
    <div class="page-content">
        <div class="top-bar hide-for-small">

        </div>
        <!-- GTS Navigation -->
        <div class="gts-nav">
            <button class="small-12 medium-6 large-1 columns left" data-reveal-id="add-to-waiting-list">+</button>
            <button class="small-12 medium-6 large-2 columns left" data-reveal-id="waiting-list">Waiting List</button>
        </div>

        <div class="gts-hr"><hr /></div>

        <div class="gts">
            <!-- This is the start of the GTS Panel -->
            <div class="gts-panel">
                <div class="panel small-10 medium-4 large-3 columns left collapse">
                        <span data-tooltip class="has-tip" title="Erwin Angeles">
                        <div class="station-number left">
                            <h2>1</h2>
                        </div>
                        <div class="station-time-remaining left">
                            <h2>00:60</h2>
                            <h5>MIN</h5>
                        </div>
                        </span>
                    <div class="station-game left">
                        <img src="http://www.gamestop.com/common/images/lbox/150022b.jpg" alt="Game Box Art">
                        <a class="right" href="#"><i class="fa fa-exchange"></i> </a>
                    </div>
                </div>
                <div class="play-panel large-1 small-1 columns left">
                    <a href="#" class="button postfix panel-button"><i class="fa fa-play"></i> </a>
                </div>
            </div> <!-- end .gts-panel -->

            <!-- Available Station -->
            <div class="gts-panel">
                <div class="panel small-10 medium-4 large-3 columns left collapse">
                    <div class="station-number left">
                        <h2>2</h2>
                    </div>
                </div>
                <div class="start-panel large-1 small-1 columns left">
                    <a href="#" class="button postfix panel-button" data-reveal-id="add-to-start">+</i> </a>
                </div>
            </div> <!-- end .gts-panel -->
        </div><!-- end .gts -->
    </div> <!-- end page-content -->
</div>


<!-- Modals -->
<!-- Add to Start Modal -->
<div id="add-to-start" class="reveal-modal small" data-reveal>
    <form ng-controller="Login" class="large-8 small-12 large-centered columns">
        <!-- Search for gamers name from firebase -->
        <label>Name</label>
        <input type="text" autocomplete="off" placeholder="Search Name" ng-model="displayName">
        <ul>
            <li ng-hide="gameTitle" ng-show="displayName" ng-repeat="user in users | filter:displayName | limitTo:limit"><a ng-click="setGamer(user.displayName)">{{user.displayName}}<img src="{{user.profilePic}}"> </a></li>
        </ul>
        <!-- Game Selection -->
        <label>Select Game</label>
        <select ng-controller="gameController" ng-model="gameTitle">
            <option ng-repeat="game in games">{{game.gameTitle}}</option>
        </select>
        <!-- Minutes to play -->
        <label>Playtime</label>
        <select>
            <option>30</option>
            <option>60</option>
        </select>
        <button class="large-12 small-12 button-form"> Add</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- Add to waiting list modal -->
<div id="add-to-waiting-list" class="reveal-modal small" data-reveal>
    <form class="large-8 small-12 large-centered columns">
        <label>Name</label>
        <input type="text" placeholder="Name">
        <label>Current Time</label>
        <h6>1230</h6>
        <button class="large-12 small-12 button-form"> Add</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- Waiting List Modal -->
<div id="waiting-list" class="reveal-modal small" data-reveal>
    <table class="large-8 small-12 large-centered columns">
        <thead>
        <tr>
            <th width="200">Name</th>
            <th>Checked In</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Erwin Fleming</td>
            <td>1230</td>
        </tr>
        <tr>
            <td>Mike Angeles</td>
            <td>1232</td>
        </tr>
        </tbody>
    </table>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- Need scripts here for modal to work -->
<script>
    $(document).foundation();
</script>