<!-- This is the Content below Navigation -->
<div class="row" ng-controller="GTS">
    <div class="page-container">
        <div class="top-bar">

        </div>
        <!-- GTS Navigation -->
        <div class="page-nav">
            <div class="large-6 medium-6 columns">
                <h1 class="text-center page-title">Add To GTS</h1>
                <!-- Add to gts form -->
                <form class="large-8 columns large-centered" ng-submit="addActiveStation(tempStation)">
                    <!-- Available Stations -->
                    <div class="row">
                        <div>
                            <label>Stations</label>
                            <select id="one" class="page-select" ng-model="tempStation.stationNumber">
                                <option value="" disabled selected>Select A Station</option>
                                <option ng-repeat="emptyStation in emptyStations | orderBy:'stationNumber'">{{emptyStation.stationNumber}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Search Gamer Name -->
                    <div class="row">
                        <div ng-controller="Login">
                            <label>Search User</label>
                            <input type="text" autocomplete="off" placeholder="Search User" ng-model="userInfos.displayName" ng-change="typing=true" required>
                            <ul ng-show="typing">
                                <li ng-repeat="user in users | filter:userInfos.displayName | limitTo:limit | orderBy:'displayName'">
                                    <a ng-click="selectUser(user)">
                                        <div class="searchOutcome large-12 columns">
                                            <h6 class="left inline-list">{{user.displayName}}</h6>
                                            <img class="searchImg right" src="{{user.profilePic}}">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Select Game to play -->
                    <div class="row">
                        <div ng-controller="gameController">
                            <label>Select Game</label>
                            <input type="text" autocomplete="off" placeholder="Search Or Add Game" ng-model="gameInfos.gameTitle" ng-change="typing=true" required>
                            <ul ng-show="typing">
                                <li ng-repeat="(index,game) in games | filter:gameInfos.gameTitle | limitTo:limit | orderBy:'gameTitle'">
                                    <a ng-click="selectGame(index)">
                                        <div class="searchOutcome large-12 columns">
                                            <h6 class="left inline-list">{{game.gameTitle}}</h6>
                                            <img class="searchImg right" src="{{game.gameArtUrl}}">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- select time -->
                    <div class="row">
                        <div>
                            <select ng-model="tempStation.countdown">
                                <option value="" disabled selected>How Long?</option>
                                <option>30</option>
                                <option>60</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <button class="large-12 medium-12 small-12 columns large-centered medium-centered">Start</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Queue List -->
            <div class="large-6 medium-6 columns">
                <h1 class="text-center page-title">Queue List</h1>
                <div id="alert-container">
                    <div class="custom-alert" ng-animate=" 'animate' " ng-repeat="tempAlert in alerts">
                        <i class="fa fa-exclamation-circle"></i>
                        <h1>{{tempAlert.user}}</h1>
                        <p>The time at station {{tempAlert.stationNumber}} is up!</p>
                        <a id="close-alert" ng-click="removeAlert(tempAlert.$id)">X</a>
                    </div>
                </div>
                <div class="large-9 columns large-centered">
                    <div class="row">
                        {{playerQueue}}
                        <div class="queue-list" ng-repeat="queuedPlayer in playerQueue | limitTo:limit">
                            <div class="large-12 columns">
                                
                                <h6 class="queue-name left">{{queuedPlayer.playerName}}</h6>
                                <a class="queue-remove right" ng-click="removeFromQueue(queuedPlayer.$id)">&#215;</a>
                                <h6 class="check-in right">{{queuedPlayer.checkedIn}}</h6>
                            </div>
                            <div class="queue-system">
                                <h6 class="large-12 columns left">{{queuedPlayer.systemPreference}}</h6>
                            </div>
                        </div>
                    </div>
                    <button class="small-12 medium-6 large-12 columns" data-reveal-id="add-to-waiting-list">Add To Queue</button>
                </div>

            </div>
            <!--<select ng-model="tempStation.stationNumber" style="margin-bottom: 10px">-->
            <!--<option ng-repeat="emptyStation in emptyStations">{{emptyStation.stationNumber}}</option>-->
            <!--</select>-->
            <!--<input type="text" ng-model="tempStation.stationGamer" placeholder="Player Name" />-->
            <!--<input type="text" ng-model="tempStation.gameArt" placeholder="Game Name (maybe filter by system from game object?)" />-->
            <!--<select ng-model="tempStation.countdown">-->
            <!--<option>30</option>-->
            <!--<option>60</option>-->
            <!--</select>-->
            <div class="gts-hr"><hr /> </div>
        </div>
        <!-- GTS -->
        <div class="gts">
            <!-- This is the start of the GTS Panel -->
            <div class="gts-panel" ng-repeat="activeStation in activeStations | orderBy:'stationNumber'">
                <div class="panel small-10 medium-4 large-3 columns left collapse gts-panels">
                    <div class="station-number left">
                        <h2>{{activeStation.stationNumber}}</h2>
                    </div>
                    <div class="station-time-remaining left">
                        <h2>{{activeStation.displayTime}}</h2>
                        <h5>MIN</h5>
                    </div>
                    <div class="station-game right">
                        <img src="{{activeStation.gameArt}}" alt="Game Box Art">
                        <a class="right" href="#"><i class="fa fa-exchange"></i> </a>
                    </div>
                    <a ng-click="removeActiveStation(activeStation)">X</a>
                </div>
            </div> <!-- end .gts-panel -->

            <!-- Available Station -->
            <div class="gts-panel" ng-repeat="emptyStation in emptyStations | orderBy:'stationNumber'">
                <div class="panel small-10 medium-4 large-3 columns left collapse gts-panels">
                    <div class="station-number left" ng-model="gamer">
                        <h2>{{emptyStation.stationNumber}}</h2>
                    </div>
                    <h3>{{emptyStation.stationSystem}}</h3>
                </div>
            </div> <!-- end .gts-panel -->
        </div><!-- end .gts -->
    </div> <!-- end page-content -->
</div>


<!-- Add to waiting list modal -->
<div id="add-to-waiting-list" class="reveal-modal small" data-reveal>
    <form class="large-8 small-12 large-centered columns">
        <!--<div ng-controller="Login">-->
        <!--<label>Search User</label>-->
        <!--<input type="text" autocomplete="off" placeholder="Search User" ng-model="userInfos.displayName" ng-change="typing=true" required>-->
        <!--<ul ng-show="typing">-->
        <!--<li ng-repeat="user in users | filter:userInfos.displayName | limitTo:limit">-->
        <!--<a ng-click="selectUser(user)">-->
        <!--<div class="searchOutcome large-12 columns">-->
        <!--<h6 class="left inline-list">{{user.displayName}}</h6>-->
        <!--<img class="searchImg right" src="{{user.profilePic}}">-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <input type="text" ng-model="tempPlayer.playerName" placeholder="Player Name">
        <label>System</label>
        <select ng-model="tempPlayer.systemPreference">
            <option>Playstation 4</option>
            <option>Playstation 3</option>
            <option>Xbox One</option>
            <option>Wii U</option>
        </select>
        <a ng-click="addToPlayerQueue(tempPlayer)" class="large-12 small-12 button-form">Add</a>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- Need scripts here for modal to work -->
<script>
    $(document).foundation();
</script> 
