
<!-- This is the Content below Navigation -->
<div class="row">
    <div class="page-container" ng-controller="stationController">
        <div class="top-bar hide-for-small">

        </div>
        <!-- Page Navigation -->
        <!--<div class="page-nav">-->
            <!--<button class="small-12 medium-2 large-1 columns left" data-reveal-id="add-station">+</button>-->
        <!--</div>-->


        <!-- Page Title -->
        <h1 class="text-center page-title">Stations</h1>
        <div class="gts-hr"><hr /></div>
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Search -->
            <!--<div class="large-3 medium-3 small-12">-->
                <!--<input type="text" placeholder="Search Station" ng-model="stationNumbers">-->
            <!--</div>-->
            <!-- Station info -->
            <form class="large-6 columns large-centered">

                    <div class="row">
                        <div class="large-8 medium-5 small-12 columns medium-centered large-centered">
                            <label>Stations</label>
                            <select ng-model="selectStations" ng-change="stationInfo(test)">
                                <option ng-model="test" ng-repeat="station in stations" value="{{station}}">{{station.stationNumber}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-8 medium-5 small-12 columns medium-centered large-centered">
                            <label>Station Number</label>
                            <input type="text" placeholder="Add New Station" value="{{selectStations}}">
                        </div>
                    </div>
                

            </form>
        </div>
    </div> <!-- end page-container -->
</div>

<!-- Modals -->
<!-- Add Station Modal -->
<div id="add-station" class="reveal-modal small" data-reveal>
    <form ng-controller="Login" class="large-8 small-12 large-centered columns">
        <!-- Search for gamers name from firebase -->
        <label>Name</label>
        <input type="text" autocomplete="off" placeholder="Search Name" ng-model="displayName">
        <ul>
            <li ng-hide="gameTitle" ng-show="displayName" ng-repeat="user in users | filter:displayName | limitTo:limit"><a ng-click="setGamer(user.displayName)">{{user.displayName}}<img src="{{user.profilePic}}"> </a></li>
        </ul>
        <!-- Game Selection -->
        <label>Select Game</label>
        <select ng-controller="gameController" ng-model="gameTitle">
            <option ng-repeat="game in games">{{game.gameTitle}}</option>
        </select>
        <!-- Minutes to play -->
        <label>Playtime</label>
        <select>
            <option>30</option>
            <option>60</option>
        </select>
        <button class="large-12 small-12 button-form"> Add</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Station Info Modal -->
<div id="station-info" class="reveal-modal small" data-reveal>
    <form ng-controller="Login" class="large-8 small-12 large-centered columns">
        <!-- Search for gamers name from firebase -->
        <label>Name</label>
        <input type="text" autocomplete="off" placeholder="Search Name" ng-model="displayName">
        <ul>
            <li ng-hide="gameTitle" ng-show="displayName" ng-repeat="user in users | filter:displayName | limitTo:limit"><a ng-click="setGamer(user.displayName)">{{user.displayName}}<img src="{{user.profilePic}}"> </a></li>
        </ul>
        <!-- Game Selection -->
        <label>Select Game</label>
        <select ng-controller="gameController" ng-model="gameTitle">
            <option ng-repeat="game in games">{{game.gameTitle}}</option>
        </select>
        <!-- Minutes to play -->
        <label>Playtime</label>
        <select>
            <option>30</option>
            <option>60</option>
        </select>
        <button class="large-12 small-12 button-form"> Add</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>


<!-- Need scripts here for modal to work -->
<script>
    $(document).foundation();
</script>