<!doctype html>
<html class="no-js" lang="en" ng-app="wingaming">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title ng-bind="'Win: &mdash; ' + title">Win: Gaming Lounge</title>

    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

    <script src="js/modernizr.js"></script>
</head>
<body ng-controller="Login">

<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <!-- Show for main mobile nav -->
        <nav class="tab-bar show-for-small">
            <a class="left-off-canvas-toggle"><i class="fa fa-bars mobile-bar"></i></a>
            <div class="div.mobile-logo">
                <a href="#/home" class="mobile-logo"></a>
            </div>
            <div class="right-nav right" ng-bind-html-unsafe="mobileStatement"></div>
        </nav>
        <!-- Show for admin mobile nav -->
        <!--<nav class="tab-bar show-for-small">-->
            <!--<a class="right-off-canvas-toggle"><i class="fa fa-bars mobile-bar"></i></a>-->
        <!--</nav>-->

        <!-- left Off canvas mobile main navigation -->
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list" ng-hide="user">
                <li><label><a href="" ng-click="login()"><i class="fa fa-facebook-square"></i> Facebook Login</a></label></li>
            </ul>
            <ul class="off-canvas-list" ng-show="user">
                <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
            <ul class="off-canvas-list">
                <li><label><i class="fa fa-trophy"></i> Competition</label></li>
                <li><a href="">News</a></li>
                <li><a href="">Leagues</a></li>
                <li><a href="">Tournaments</a></li>
            </ul>
            <ul class="off-canvas-list">
                <li><label><i class="fa fa-info-circle"></i> Support</label></li>
            </ul>
        </aside>

       <!-- Right Off canvas mobile Admin/Staff navigation -->
       	<aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Admin Navigation</label></li>
                <li><a href="#gts">- GTS</a></li>
                <li><a href="#admin_users">- Users</a></li>
                <li><a href="#stations">- Stations</a></li>
                <li><a href="#games">- Games</a></li>
            </ul>
        </aside>

        <!-- This top nav only show on tablets and desktops -->
        <!-- Desktop/Tablet Navigation -->
        <nav class="top_bar hide-for-small" data-topbar>
            <div class="row">
                <ul class="title-area left">
                    <li>
                        <a href="#/"><img class="desktop-logo" src="img/logo.png" alt="Win Gaming Lounge Logo"></a>
                    </li>
                </ul>

                <div class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li class="has-dropdown">
                            <a href="#" class="main-nav"><i class="fa fa-trophy"></i> Competition</a>
                            <ul class="dropdown">
                                <li><a href="#/under_construction">- News</a></li>
                                <li><a href="#/under_construction">- Leagues</a></li>
                                <li><a href="#/under_construction">- Tournaments</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#/" class="main-nav"><i class="fa fa-info-circle"></i> Support</a></li>
                        <li class="divider"></li>
                        <li class="active" ng-hide="user"><a href="" class="main-nav" ng-click="login()"><i class="fa fa-facebook"></i> Facebook Login</a></li>
                        <li class="has-dropdown" ng-show="user">
                            <a href="" class="main-nav" ng-click="logout()">Logout</a>
                            <ul class="dropdown" ng-bind-html-unsafe="desktopStatement"></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!--Container for the view templates-->
		<div id="container" ng-view="">
		</div>
		
        <!-- footer section -->
        <footer>
            <div class="row">
                <div class="socials left">
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-google-plus-square"></i>
                    <i class="fa fa-twitter-square"></i>
                </div>
                <div class="div-footer-logo right">
                    <!--<p class="hide-for-small">&copy; 2013 Win Gaming Lounge</p>-->
                    <a href="#/" class="footer-logo"><img src="img/logo.png"></a>
                </div>
            </div>
        </footer>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

    </div><!-- end .inner-wrap -->
</div> <!-- end .off-canvas-wrap -->

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>

<!-- Firebase Conenctions -->
<script src="https://cdn.firebase.com/v0/firebase.js"></script>

<!--simple login-->
<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

<!--angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<!--angularFire-->
<script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js"></script>

<!--Main JS-->
<script src="js/main.js"></script>

<!--Crud Controllers-->
<script src="js/controllers/CRUDController.js"></script>

<!-- Login Controllers -->
<script src="js/controllers/LoginController.js"></script>

<!-- Login Controllers -->
<script src="js/controllers/GTSController.js"></script>

</body>
</html>
