
        <!-- This is the Content below Navigation -->
        <div class="gts-content">

        </div>

        <div class="gts">
            <div class="row">
                <div class="gts-panel">
                    <div class="panel small-10 medium-4 large-3 columns left collapse">
                        <span data-tooltip class="has-tip" title="Erwin Angeles">
                        <div class="station-number left">
                            <h2>1</h2>
                        </div>
                        <div class="station-time-remaining left">
                            <h2>00:21</h2>
                            <h5>MIN</h5>
                        </div>
                        </span>
                        <div class="station-game right">
                            <img src="http://www.gamestop.com/common/images/lbox/150022b.jpg" alt="Game Box Art">
                            <a class="right" href="#"><i class="fa fa-exchange"></i> </a>
                        </div>
                    </div>
                    <div class="right-panel large-1 small-1 columns left">
                        <a href="#" class="button postfix panel-button"><i class="fa fa-play"></i> </a>
                    </div>
                </div> <!-- end .gts-panel -->
            </div> <!-- end row -->
        </div><!-- end .gts -->

